body{
  font-family: 'Lato';
  font-size: 12px;
}
#content{
	background-color: #F0F0EE;
}
table th{
	background-color: #0B6FDE;
	color: #fff;
	transition: all 0.3s;  /* Simple transition for hover effect */

}

table td{
	background-color: #F0F0EE;
	color: #000;
	padding-left: 10px;
}
th a:link, th a:visited, th{
	color: #fff;
	font-weight: normal;
}

td a:link{
 color: #0B6FDE;
}
td a:visited{
 color: #0B6FDD;
 opacity: 0.9;
}

tr:nth-child(even){
	line-height: 0.5;
	margin-bottom: 5px;
}
tr:nth-child(odd){
	line-height: 2.5;
	margin-bottom: 5px;
}
#logo{
	margin-bottom: 10px;
	margin-top: -5px;
	color: #000;
}
.navbar{
	margin-bottom: 0px;
}
* {
   font-size: 13px;
}
sub, sub a{
font-size: 9px;
}
.col-xs-1{
	padding-right: 0px;
}
.col-xs-10{
	padding-left: 0px;
}
.fa-caret-up{
	font-size: 1.6em;
}
.up{
	cursor:pointer;
	color: #0B6FDE;
}
.down{
	cursor:pointer;
}
.points{
	font-size: 8pt;
}
.topmenu {
	display:table; width:400px; 
	background:#0B6FDE;
}
.topmenu ul {
	display:table-row; 
}
.topmenu a {
	text-align: center; 
	display:table-cell; 
	border-right:1px solid #fff;
}
.topmenu li {
	text-align: center; 
	display:block;
}
th a:hover{
background: #000; 
color: #FFF;
text-decoration: none;
}
